<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <div th:insert="~{frags/misc :: bootstrap}"></div>
    <title>Lista de Serviços</title>
  </head>
  <body>
    <p class="h2">Serviços cadastrados no sistema</p>
    <small th:text="${msg}"></small><br />

    <a href="/servico/save" class="btn btn-success">Novo Serviço</a>
    <a href="/hospedeiro" class="btn btn-secondary">Voltar</a>

    <table class="table table-striped mt-3">
      <thead>
        <tr class="table-dark">
          <th>Código</th>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Descrição</th>
          <th>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="s : ${servicos}" th:object="${s}">
          <td th:text="*{codigo}"></td>
          <td th:text="*{nome}"></td>
          <td th:text="*{tipo}"></td>
          <td th:text="*{descricao}"></td>
          <td>
            <a class="btn btn-info btn-sm"
               th:href="@{/servico/save/{id}(id=*{codigo})}">
              Editar
            </a>
            <a class="btn btn-danger btn-sm"
               th:href="@{/servico/delete(id=*{codigo})}">
              Excluir
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>